greenlet==0.4.0
gevent==0.13.7

git+ssh://dev.techresidents.com/tr/repos/techresidents/lib/python/trpycore.git@0.8.0#egg=trpycore
git+ssh://dev.techresidents.com/tr/repos/techresidents/lib/python/trhttp_gevent.git@integration#egg=trhttp_gevent
git+ssh://dev.techresidents.com/tr/repos/techresidents/lib/python/tres.git@integration#egg=tres

